@model IEnumerable<task1.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped-columns" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.St_Fname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.St_Lname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.St_Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.St_Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dept_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.St_superNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.St_Fname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_Lname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dept_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.St_superNavigation.St_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.St_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.St_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.St_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
