@model IEnumerable<task1.Models.Course>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-striped-columns" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Crs_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crs_Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Top_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Crs_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crs_Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Top_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Crs_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Crs_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Crs_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
